
#divers_nav > a, #divers_ss_menu_nav li:nth-of-type(3) a 
{
	text-decoration: none;
	color: #aa0;
}



#main_wrapper
{
/*  border: 1px solid black;    */
	width: 1100px;
	height: 550px;
	margin: auto;
	font-size: 1.4em;
	font-family: "PTF55F-webfont", Arial, sans-serif;
}





